*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    background-color:#f2f8ff;
    color: #333333;
}
/*-----  header style ----------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:#f2f8ffcf ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
   color: #485AD0; 
   font-size: 35px;
   font-weight: 600;
   text-decoration: none;
}
.logo:hover{
    color:#4b5bd4ac ;
    font-size: 33px;
}

nav{
    width: 85%;
    margin: auto;
    padding: 4px 0;
    margin-left: 40%;
    display: flex;
    align-items: left;
    justify-content:space-between;
}
.navbar a{
    font-size: 22px;
    text-decoration: none;  
    font-weight: 550;
    color: #333333 ;
    align-items: left;
    margin-left: 35px;
    transition: .3s;  
}
.navbar a:hover {
    color: #b49cf0;
    font-size: 17.5px;
}
/*-----  MAIN style ----------*/
.home{
   height: 100vh;
   display: flex;
   align-items: center;
   padding: 0 10%;
}

h1 {
    color : #f9bbb2d9;
    font-size: 63px;
    font-weight: 700;
    line-height: 1.2;
}
h3,#salutation{
    color: #485ad0;
    font-size: 35px;
    font-weight: 670;
    padding-bottom: 5px;
}

p {
    font-size: 34px;
    margin: 20px 0 40px;
    display: flex;


}
.home-content .btn-box{
    display: flex;
    width: 350px;
    height: 50px;
    justify-content: space-between;
}
.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #E4D9FF;
    width: 155px;
    height: 100%;
    border: 2px solid #333333;
    border-radius: 8px;
    font-size: 23px;
    color:#333333;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px; 
}

.btn-box a:nth-child(2){
    background: transparent;
    color :#333333;
}

.btn-box a:nth-child(1):hover{
    background-color: #aa97d8a9;
    cursor:pointer;
}
.btn-box a:nth-child(2):hover{
    background-color: #ece9c099;
    cursor:pointer;
}

.inspiring {
    margin-right: 10%;
    margin-left: 15%;
    font-size: large;
    letter-spacing: 0.3px;
    text-decoration:wavy ;
    text-transform: capitalize;
    width: 900px;
    word-spacing: 0.8px;
    margin-bottom: 5px;
}
.inspiring p{
    display: block;
    text-align:center ;
    margin-top: 3px;
}
.inspiring a , .project  a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #E4D9FF;
    text-decoration: none;
    width: 180px;
    height: 100%;
    border: 2px solid #333333;
    border-radius: 8px;
    font-size: 23px;
    color:#333333;
    font-weight: 600;
    letter-spacing: 1px; 
    margin:20px 40% ;
}
.inspiring a{
    display: inline-flex;
    height: 65px;
    width: 200px;
}

.Portfolio-Main{
    display: block;
    padding-top: 250px;
    justify-content: space-around;
    align-items: center;
}

.description  {
     max-width: 600px; 
     display: inline; 
     align-content: center;
     padding-left: 30px;
}

.project{
      border: solid 0.5px #5a5a5a; 
      width: auto; 
}
.project h4{
    color: #9c6d67;
    font-weight:bold;
    font-size: 30px;
  
}
.portfolio h1{
    display: block;
    align-items: center;
}
.body {
    display: block;
    align-items: center;
    padding-left: 50px;

}
.description pre{
    font-size: 30px;
    font-style: italic;
    font-family: serif;
}
.project pre {
    font-size: 28px;
    font-family: serif;
}
/*------  footer -------*/
footer{
   
    height: 50px;
    padding-left: 60px;
}
.Contact{
    height: 60px;
    justify-content:space-between;
    align-content: center;
    padding-left: 60px;
    height: 70px;
    width: 90px;
}

.Contact a{
    text-decoration: none;
    align-content: center;

}
/*contact*/
.fa-facebook {
  background: #3B5998;
  color: white;

  font: size 60px ;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}    
.fa-instagram {
  background: #dd2a7b;
  color: white;
}    




